@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* linelaser components\ui\linelaser*/
@keyframes slidMask {
    from {
        x : -100%;
    }
    to {
        x : 100%;
    }
    
}
.mask-rect{
  animation : slidMask 5s ease infinite;
}